[Bb]in/
[Oo]bj/
*.user
*.suo
.vs/
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
appsettings.Development.json
appsettings.*.local.json

node_modules/
dist/
.angular/cache/
npm-debug.log*
yarn-error.log*

.env
.env.*
!.env.example

.idea/
*.iml
.vscode/*
!.vscode/extensions.json

.DS_Store
*.log
